extends layout

block content
  .jumbotron
    if !user
      h1 欢迎来到Microblog
      p Microblog是一个基于Node.js的微博系统。
        p
          a(class='btn btn-primary btn-large' href='/login') 登陆
          a(class='btn btn-large' href='/register') 立即注册
    else
      form(class='form-inline justify-content-center')
        input(class='form-control mr-sm-2 col-sm-6' type='search' aria-label="Search")
        button(class='btn btn-primary' type="submit") 发言

  .row
    .col-lg-4
      h2 丑奴儿 辛弃疾
      p 少年不知愁滋味，爱上层楼，爱上层楼。为赋新词强说愁。
      p 而今识尽愁滋味，欲说还休。欲说还休，却道天凉好个秋
    .col-lg-4
      h2 满江红 毛泽东
      p 小小寰球，有几个苍蝇碰壁。
      p 嗡嗡叫，几声凄厉，几声抽泣。
      p 蚂蚁缘槐夸大国，蚍蜉撼树谈何易。
      p 正西风落叶下长安，飞鸣镝。多少事，从来急；
      p 天地转，光阴迫。一万年太久，只争朝夕。
      p 四海翻腾云水怒，五洲震荡风雷激。
      p 要扫除一切害人虫，全无敌。
    .col-lg-4
      h2 满江红 毛泽东
      p 小小寰球，有几个苍蝇碰壁。
      p 嗡嗡叫，几声凄厉，几声抽泣。
      p 蚂蚁缘槐夸大国，蚍蜉撼树谈何易。
      p 正西风落叶下长安，飞鸣镝。多少事，从来急；
      p 天地转，光阴迫。一万年太久，只争朝夕。
      p 四海翻腾云水怒，五洲震荡风雷激。
      p 要扫除一切害人虫，全无敌。

