form(method='post' action='/voicing'  class='form-inline justify-content-center' )
    input(class='form-control mr-sm-2 col-sm-6' name='value' type='text')
    button(class='btn btn-primary' type="submit") 发言
